<!-- Cloudflare Web Analytics --><script defer
src='https://static.cloudflareinsights.com/beacon.min.js'
data-cf-beacon='{"token": "65ce9e63f08a4281ab0987fbf65f606e"}'></script><!-- End
Cloudflare Web Analytics -->
 
<!-- begin footer-widgets -->
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      {% include footer-widgets/widget-recent-posts.html %}
      {% include footer-widgets/widget-tag-cloud.html %}
      {% include footer-widgets/widget-subscribe.html %}
    </div>
  </div>
</section>
<!-- end footer-widgets -->

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
      <div class="footer__inner">
        <div class="copyright">1999-{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>.</div>
        {% include social-links.html %}
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
