---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Tony Guntharp. Built with
	<a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
	<br />
	<a href="https://damagelabs.io" target="_blank" rel="noopener">DamageLabs</a> ·
	<a href="https://github.com/fusion94" target="_blank" rel="noopener">GitHub</a> ·
	<a href="https://x.com/TonyGuntharp" target="_blank" rel="noopener">X/Twitter</a>
</footer>
